<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lomake</title>
    </head>
    <body>
        <h2>Lis&auml;&auml; lukulinkki</h2>
        <form method="POST">
            Otsikko:<br/>
            <input type="text" name="otsikko"/>
            <br/>
            Linkki:<br/>
            <input type="text" name="linkki"/>
            <br/>
            <input type="submit" value="Lähetä"/>
        </form>

    </body>
</html>