<!DOCTYPE html>
<html>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <head>
        <title>Lukuvinkki</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-success navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 25px;" th:href="@{~/}">Koti</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" style="font-size: 25px;" th:href="@{~/addNewTip}">Lisää lukuvinkki</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <h2>Lisää tägit</h2>
            <form method="POST" th:action="@{~/addTag/{tipId}(tipId=${tipId}))}">

                <table class="table-borderless">
                    <tr>
                        <td><label for="name">Tägi</label></td>
                        <td><input type="text" id="tag" name="name"/> </td>
                    </tr>
                    <tr>	
                        <td><input type ="submit" name="submit" class="btn btn-success" value="Lisää tägit"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
